.idea/

/custom_modes
/backup
/temp

node_modules/

**/.git
**/.svn
**/.hg
**/.tox
**/.pytest_cache
**/.coverage
**/.mypy_cache
**/.ruff_cache
**/.vscode-test
**/.idea
**/.cache
**/.cache-loader
**/.cache-loader-*

**/.DS_Store
**/Thumbs.db

**/.npm
**/.yarn
**/.yarn-cache
**/.yarn-integrity
**/.yarnrc
**/.yarn.lock
**/.yarn-error.log
**/.eslintcache
